@model Color
@{
    ViewData["Title"] = "Detail";
}


    <div>
        <h4>
            Id
        </h4>
        <p>
        @Model.color.Id
        </p>
    </div>
    <div>
        <h4>
            Name
        </h4>
        <p>
            @Model.color.Name
        </p>
    </div>

